.button {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 25%, #80c800 50%);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 0;
}

.button:hover {
    -fx-background-insets: 0,2,2,0;
}

.button:pressed {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #80c800 0%, #FFFFFF 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #96E8D2, #b8ee36);
        -fx-effect: dropshadow( three-pass-box , #b8ee36 , 5, 0.0 , 0 , 1 );
}


.back{
    -fx-background-color:#DCFFFD;
}

.chartpane{
    -fx-background-color:
        linear-gradient(to right, #D1FF66, #DCFFFD);
}

.graphpane{
    -fx-background-color:
        linear-gradient(to right, #96E8D2, #DCFFFD);
}

.progress-indicator{
    -fx-progress-color: #50ED91;
}
